---
title: 'GitLab a "Strong Performer" in The Forrester New Wave™ for Value Stream Management Tools, Q3 2018'
author: GitLab
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/architecture-building-business-258163.jpg'
description: 'GitLab has been included in Forrester research report on Value Stream Management Tools.'
cta_button_text: 'View the report'
cta_button_link: '/resources/forrester-new-wave-vsm-2018/'
tags: news, DevOps
install_cta: false
---

Forrester recently evaluated GitLab as a **Strong Performer** in The Forrester New
Wave™: Value Stream Management Tools, Q3 2018 report. The evaluation comes after
Forrester reviewed 13 different vendors and their approaches to enable end-to-end value stream management of the software delivery lifecycle. This is a new area of coverage at Forrester,
recognizing the trend in the industry where organizations are focusing on
improving and optimizing their software delivery value stream. Forrester considered
GitLab's capabilities and strategy and characterized GitLab as a Strong Performer.
According to the report, “GitLab combines end-to-end capability with the power of open
source. GitLab offers a DevOps tool for each step of the software development process.
Top-level views sitting across these tools provide its VSM functionalities.”

Forrester defined the role of Value Stream Management (VSM) in the
lifecycle as: "VSM is an emerging tool category that connects an organization’s
business to its software delivery capability. VSM tools provide multiple roles
– product managers, developers, QA, and release managers – a view into planning,
health indicators, and analytics, helping them collaborate more effectively to
reduce waste and focus on work that delivers value to the customer and the business."

[View the full report](/resources/forrester-new-wave-vsm-2018/) or check out [GitLab VSM](https://about.gitlab.com/vsm) learn more about
GitLab Value Stream Management.
<!-- more -->
## GitLab supports the entire SDLC
Value stream management enables teams to visualize, manage, and optimize their
software delivery pipelines. The goal of DevOps transformations is to enable
teams to ship faster without sacrificing quality or security. Ultimately, the
approach in DevOps is the same as in lean manufacturing, where reducing work in
progress and eliminating "waste" enables organizations to improve their value stream.

Because GitLab is a single application, supporting the entire delivery lifecycle,
"value stream" metrics and KPIs are easier to track. For example, [GitLab Cycle
Analytics](/product/cycle-analytics/) is one view of how the value stream is performing. Because GitLab is able to track the entire lifecycle, there are many other possible value stream views available. [Check out our Value Stream Management](/solutions/value-stream-management/) page to learn
more about how GitLab is delivering metrics and value stream management to help
improve your DevOps lifecycle.
<%= partial "includes/blog/tweet", locals: { text: 'GitLab supports the entire DevOps lifecycle including Value Stream Management', author: 'j_jeremiah' } %>

We’re excited about what the future holds for value stream management, so it’s
great to know that others see the importance of managing end-to-end delivery and
value metrics. We think the research by Forrester will help IT leaders evolve
and improve their software delivery processes, which is where we think GitLab's
approach to addressing the end-to-end lifecycle can help. We agree with Forrester
which observed, “Organizations that want a comprehensive VSM solution that can also
serve as their DevOps tool chain will really appreciate GitLab.”
{: .text-justify}

[View the full report](/resources/forrester-new-wave-vsm-2018/) or check out [GitLab VSM](https://about.gitlab.com/vsm) to learn more about GitLab Value Stream Management.

Cover image: ["Paris Architecture France Center Pompidou Building"](https://pixabay.com/en/paris-architecture-france-674964/) by [Gerhard Bögner](https://pixabay.com/en/users/bogitw-851103/), licensed
under [CC 0](https://pixabay.com/en/service/terms/#usage)
{: .note}
